/* COLORES
    Crimson, #fff
   darkred lightsalmon
 */
 @font-face {
    font-family: 'Goldman', cursive; 
    src:url('../fonts/Goldman-Regular.ttf')
 }
  @font-face {
    font-family: 'Goldman-Bold', cursive; 
    src:url('../fonts/Goldman-Bold.ttf')
}
body{
	font-family: 'Goldman', cursive; 
	background-image: url('../images/Le_petit_prince.png');
	background-position:top right;
	background-repeat:no-repeat;
	margin-right: 300px;
}
h1{
	font-weight:bold;
	text-transform:capitalize;
	font-size:3em;
	color: Crimson;
	text-decoration:underline;
	text-decoration-style: wavy;
	letter-spacing: 5px;	
	
}
p{
	background-color:Crimson;
	 /*font-size: 2em; */
	font-style: italic;
	padding: 5px 0;
	
}
p span {
	color: #fff;
}

p:first-letter{
	font-size: 2em;
}

.lista1 > li , .lista2 > li, .lista3 >li {
	/* border-style: dotted;
	border-color: Crimson;
	border-width: 1px; */
	border: dotted Crimson 1px;
}

.lista1{
	list-style-position:inside;
	list-style-type: circle;
}

.lista2{
	list-style-position:outside;
	list-style-type: square;
}

.lista3{
	list-style-position:inside;
	list-style-image: url('../images/sqpurple.png');
}

.lista4{
	background-color: lightsalmon;
	border: dashed 2px  darkred;
	list-style-type:none;
	content: '#';
	width: 1em;
	margin-left: -1em;
	color: darkred;
	display:inline-block;
}
.lista5{
	background-color: lightsalmon;
	list-style-type:none;
	color: darkred;
	border-left-color: darkred;
	border-left-width: 5px;
	border-left-style: solid;
	padding: 5px;
}

.lista6 {
	list-style-type:none;
	color: darkred;
	margin:0px;
	padding:0px;
}

.lista6 li{
	border-style:dotted;
	border-color:darkred;
	border-width: 1px 1px 0px 1px;
}

.lista6 li:last-child{
border-bottom-width:1px;
}









	