
/* 
    Created on : 03-dic-2019, 19:10:50
    Author     : Amor Rodríguez <amor at marodriguezn@educa.jcyl.es>
   

colores: 
#ff4500 lightblue green
#e9967A
#99
*/

/* reset */
body, div, p, h1, img{
	margin:0;
	padding:0;
	
}
body{
	font-family: calibri, arial, sans-serif;
}

h1{
	background-color:#ff4500;
	color: red;
	font-variant: small-caps;
	
}
div {
	padding: 6px;
	margin: 6px 0px;
}

.par1{
	background-color: lightblue;
	color:green;
	padding-top: 3px;
	padding-bottom:3px;
	margin: 3px 0;
}

.static {
	border: solid 1px #ff4500;
	
}

.relative {
	border: dotted 1px #9932cc;
	position:relative;
	left: 6%;
	
}
.fixed{
	border-color: #0b404;
	border-style:dashed;
	border-width:1px;
	background-color: #FFB973;
	width:33%;
	position:fixed;
	right:0px;
	bottom:9px;
	}
	
	.relative1{
	 border: solid 3px green;
	 width: 50%;
	position:relative;
	}
	
	.absolute1{
	 border: solid 3px #04b404;
	position:absolute;
	width: 25%;
	right: 0;
	bottom:0;
	
	}
	
	

